body {
    font-family: 'Georgia', serif;
    background-color: #F8EDE3; /* Champán */
    color: #5A4A42; /* Marrón oscuro elegante */
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background: rgba(234, 215, 193, 0.9);
    padding: 10px;
    text-align: center;
    position: relative;
}

.menu-toggle {
    font-size: 2rem;
    cursor: pointer;
    display: block; /* Asegúrate de que el ícono del menú sea visible */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: none; /* Ocultar el menú por defecto */
    position: absolute;
    top: 60px; /* Ajusta esto según la altura de tu header */
    left: 0;
    width: 100%;
    background: #EAD7C1;
    z-index: 1000;
}

nav ul.hidden {
    display: none; /* Asegúrate de que el menú esté oculto cuando tenga la clase hidden */
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: #5A4A42;
    font-weight: bold;
    display: block;
    padding: 10px;
}

/* Estilos para el menú cuando está visible */
nav ul.active {
    display: block;
}

/* Estilos para el header cuando se hace scroll */
header.scrolled {
    background: rgba(234, 215, 193, 0.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#hero {
    position: relative;
    height: calc(100vh - 60px); /* Ajusta la altura para dejar espacio para el header */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background: linear-gradient(to right, #A67B5B, #EAD7C1);
    padding-top: 60px; /* Espacio para el header */
}


.hero-content {
    z-index: 1;
}

.hero-content h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.5rem;
}

.hero-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

section {
    padding: 60px 20px;
}

h2 {
    font-size: 2.5rem;
    color: #A67B5B; /* Marrón cálido */
}

p {
    font-size: 1.2rem;
    color: #7D6757; /* Gris marrón */
}

#countdown-timer {
    font-size: 2rem;
    font-weight: bold;
    color: #6B5B4F; /* Un marrón más oscuro */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    margin: 10px 0;
    padding: 10px;
    width: 300px;
    border: 1px solid #A67B5B;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #A67B5B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    margin-top: 60px;
    font-size: 1rem;
    color: #A67B5B; /* Marrón cálido */
}

@media (max-width: 768px) {
    nav ul {
        display: block;
        background: #EAD7C1;
        position: absolute;
        width: 100%;
        left: 0;
        top: 50px;
        text-align: center;
    }

    nav ul.hidden {
        display: none;
    }

}

#location {
    padding: 60px 20px;
    background-color: #F8EDE3; /* Fondo acorde al tema */
}

#location h2 {
    font-size: 2.5rem;
    color: #A67B5B; /* Marrón cálido */
    margin-bottom: 20px;
}

#location p {
    font-size: 1.2rem;
    color: #7D6757; /* Gris marrón */
    margin-bottom: 10px;
}

#location a {
    color: #A67B5B; /* Marrón cálido */
    text-decoration: none;
}

#location a:hover {
    text-decoration: underline;
}

#location iframe {
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    margin-top: 20px;
}